body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#colors {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.ball {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: 1px solid black;
}
